<div class="content-background">
  <div class="content-board">
    <mat-grid-list cols="3" gutterSize="16px">
      <mat-grid-tile [rowspan]="1" [colspan]="1">
        <mat-card class="dashboard-card prediction-card" routerLink="../expense-analysis" style="cursor:pointer;">
          <mat-card-content class="dashboard-card-content">
            <div class="dashboard-illustration-wrapper">
              <img src="undraw_predictive-analytics.png" alt="analysis Image" class="dashboard-illustration" />
            </div>
            <div class="dashboard-card-title">Expense analysis</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="1" [colspan]="1">
        <mat-card class="dashboard-card expense-card" (click)="openAddTransactionExpenseDialog()">
          <mat-card-content class="dashboard-card-content">
            <div class="dashboard-illustration-wrapper">
              <img src="undraw_savings.png" alt="expenses Image" class="dashboard-illustration" />
            </div>
            <div class="dashboard-card-title">Expenses & Transactions</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="2" [colspan]="1">
        <mat-card class="dashboard-card recent-expense-list-card">
          <mat-card-title>Previous transactions</mat-card-title>
          <mat-card-content>
            <div class="transactions-section" [class.overflow]="hasOverflow">
              <div *ngIf="isLoading">Loading transactions...</div>
              <div *ngIf="!isLoading && recentTransactions.length === 0">No transactions available.</div>
              <ul *ngIf="recentTransactions.length > 0">
                <li *ngFor="let transaction of recentTransactions">
                  {{ transaction.transactionDate | date:'dd/MM/yyyy' }} - {{ transaction.category_Name }} - ${{ transaction.amount }}
                </li>
              </ul>
              <div *ngIf="hasOverflow" class="more-indicator">
                <mat-icon>more_horiz</mat-icon>
                <span>More transactions</span>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-icon-button matTooltip="View more" routerLink="../transactions-detail"><mat-icon>read_more</mat-icon></button>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="1" [colspan]="2">
        <mat-card class="dashboard-card under-construction-card">
          <mat-card-title>Something works</mat-card-title>
          <mat-card-content>
            It works!
          </mat-card-content>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
