<div>
  <button mat-icon-button matTooltip="Add new category" (click)="openAddTransactionCategoryDialog()" color="primary">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<div class="category-table-container">

  <table mat-table [dataSource]="categoryTableData" class="category-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="transactiontype">
      <th mat-header-cell *matHeaderCellDef>Transaction type</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openAddTransactionCategoryDialog(row)"></tr>
  </table>
</div>
<mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of categories"></mat-paginator>


