<mat-sidenav-container class="sidenav-container">
  <!-- Side Navigation -->
  <mat-sidenav #sidenav mode="side" [opened]="true" [class.mat-elevation-z4]="true" style="width: 240px">
    <mat-nav-list dense>
      <mat-list-item routerLink="../home/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</mat-list-item>
      <mat-list-item routerLink="../home/transactions-detail"><mat-icon>monetization_on</mat-icon>Expense</mat-list-item>
      <mat-list-item routerLink="../home/categories-detail"><mat-icon>category</mat-icon>Category</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content Area -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button matTooltip="Application Menu" (click)="sidenav.toggle()" style="display: none;">
        <mat-icon>menu</mat-icon>
      </button>
      Welcome
      <span style="flex: 1 1 auto;"></span>
      <div>
        <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="accountMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
          <button mat-menu-item (click)="openImportCsvDialog()">
            <mat-icon>upload_file</mat-icon>Import from CSV
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>Logout
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet>
      <div class="container mat-body-1">
      </div>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
