mat-sidenav-container {
  height: 100%;
  margin: 0;
}

.mat-sidenav {
  background-color: #296d8f; /* Dark blue for a modern look */
  color: white;
}

.mat-toolbar {
  background-color: #073b54; /* Dark gray-blue */
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-right mat-icon {
    cursor: pointer;
    margin-left: 15px;
}

.mat-icon {
  margin-right: 10px;
  font-size: 24px;
}
